name: Void Forge (Native)

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Install dependencies
        run: |
          sudo apt-get update
          # Нужны для работы xbps-src в режиме chroot/bwrap
          sudo apt-get install -y git coreutils diffutils bash curl jq
          # Для работы xbps-src на Ubuntu нужно поставить статический xbps
          curl -LO https://alpha.de.repo.voidlinux.org/static/xbps-static-latest.x86_64-musl.tar.xz
          mkdir xbps && tar xf xbps-static-latest.x86_64-musl.tar.xz -C xbps
          sudo cp xbps/usr/bin/xbps-* /usr/bin/

      - name: Clone void-packages
        run: |
          git clone --depth=1 https://github.com/void-linux/void-packages.git
          cd void-packages
          # Позволяем xbps-src работать от рута в GitHub Actions через namespaces
          echo "XBPS_CHROOT_CMD=uchroot" >> etc/conf
          echo "XBPS_ALLOW_RESTRICTED=yes" >> etc/conf
          # Твои флаги Haswell
          FLAGS="-O3 -march=haswell -mtune=haswell -flto=auto"
          echo "XBPS_CFLAGS='$FLAGS'" >> etc/conf
          echo "XBPS_CXXFLAGS='$FLAGS'" >> etc/conf

      - name: Build Package
        run: |
          cd void-packages
          ./xbps-src binary-bootstrap
          ./xbps-src pkg pixman

      - name: Prepare Artifacts
        if: always()
        run: |
          mkdir out
          find void-packages/hostdir/binpkgs -name "*.xbps" -exec cp {} out/ \;

      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: pixman-haswell
          path: out/
